{
  "env": {
    "browser": true,
    "commonjs": true,
    "es6": true,
    "jquery": true
  },
 "extends": [
    "airbnb",
    "jquery"
  ],
  "plugins": [
    "dollar-sign",
    "jquery"
  ],
  rules: {
    "prefer-const": "off",
    "no-implicit-globals": "off",
    "strict": "off",
    "quotes": "off",
    "no-unused-vars": "off",
    "no-else-return": "off",
    "no-multiple-empty-lines": "off",
    "import/no-unresolved": "off",
    "skip-line": "off",
    "import/newline-after-import": "off",
    "consistent-return": 0,
    "object-curly-newline": 0,

    // Semicolon and console heaven.
    "no-console": 0,
    "semi": ["error", "never"],
    "no-unreachable": "error",
    "no-unexpected-multiline": "error",

    // trailing comma
    "comma-dangle": ["error", {"functions": "ignore"}],

    // arrow return
    "arrow-body-style": "off",

    // callback return
    "callback-return": ["error", ["callback", "cb", "next"]],


    "space-in-parens": ["error", "never"],

    // jsx
    "react/jsx-filename-extension": [1, { "extensions": [".js"] }],
    "react/jsx-curly-spacing": [1, "always"],
    "arrow-parens": 0,
    "react/jsx-no-bind": [ , { "allowBind": true }],
    "react/prop-types": 0,

    // allow define after call
    "no-use-before-define": ["error", { "functions": false, "classes": false, "variables": false }],

    // comments
    "lines-around-comment": ["error", { "beforeBlockComment": false }]
  }
}
